/* Custom Properties */
/* #EF8354
#2D3142
#4F5D75
#BFC0C0 */
/* ... */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-color: #2D3142;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Inter', sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1;
}

section {
  width: 85%;
}

.text-accent {
  color: #EF8354;
}

/* Utility Classes */
.pill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  background-color: transparent;
  border-radius: 50px;
  padding: 10px;
  border: 1px white solid;
}

/* ... */


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4F5D75;


}

/** HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2D3142;
  color: white;
  padding: 0 1.5%;
  width: 100vw;
  height: 55px;
  position: sticky;
  top: 0;
  z-index: 1;

}

.header-nav-container {
  /* width: 100%; */
  display: flex;
  align-items: center;
  gap: 1.8%;
  width: 100%;
  min-width: 160px;
  max-width: 2100px;
  overflow: visible;
}


.header-logo-container {
  width: auto;
  /*! watch out for bugs */
  flex-shrink: 0;
}

.logo {
  font-style: italic;
  font-size: 0.98rem;
  letter-spacing: 0.3rem;
  width: auto;
  cursor: pointer;
}

.nav-container {
  position: relative;
  width: 100%;
}

.nav-list {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 3%;
  width: 100%;
}



.nav-item {
  font-style: italic;
  font-size: 0.8rem;
  cursor: pointer;

}

.nav-item:nth-of-type(6) {
  margin-left: auto;
}

.nav-icon-container {
  display: flex;
  align-items: center;
  gap: 15%;
  margin-right: 20px;
}

.nav-icons {
  width: 1.2rem;
}

.bag-counter {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #EF8354;
  border: 1px solid #EF8354;
  border-radius: 50%;
  bottom: 14px;
  right: -10px;
  width: 0.7rem;
  height: 0.7rem;
  font-size: 0.40rem;
  font-weight: 700;
}

.menu-button {
  width: 20px;
  height: 20px;
  align-self: end;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin-right: 12px;
}

.line1 {
  width: 100%;
  height: 2px;
  background-color: white;
}

.line2 {
  width: 100%;
  height: 2px;
  background-color: white;
}

.line3 {
  width: 100%;
  height: 2px;
  background-color: white;
}

/** HEADER section Responsive Settings */
@media(min-width: 30rem) {
  .menu-button {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .bag-counter {
    display: flex;
  }

  .logo {
    font-size: 1rem;
    letter-spacing: 0.4rem;
  }

  .nav-icons {
    width: 1.4rem;
  }

  .bag-counter {
    font-size: 0.55rem;
    padding-right: 0.7px;
    bottom: 12px;
    right: -5px;
    width: 1rem;
    height: 0.9rem;
  }
}

@media(min-width: 40rem) {
  .nav-item {
    font-size: 1rem;
  }

  .logo {
    font-size: 1.5rem;
    letter-spacing: 0.9rem;
  }

  .nav-icons {
    width: 1.5rem;
  }
}

/* ... */

/** HERO*/
.hero {
  background-image: url("../images/hero-image1.jpg");
  width: 100%;
  max-width: 2000px;
  min-height: 1000px;
  /* max-width: 2000px; */
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  position: relative;
  text-align: center;
  color: white;
}

.text-wrapper {
  position: absolute;
  bottom: 40px;
  left: 16px;
  text-align: start;
  /* height: 1000px; */
}

.hero h1 {
  letter-spacing: 0.245em;
  font-weight: 750;
  font-size: 5rem;
}

.hero p {
  width: 50%;
  margin-top: 13px;
}

/* ... */



/** PRODUCTS */
.product {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 12px;
  gap: 9px;
  /* justify-content: center; */
  background-color: #4F5D75;
  max-width: 2000px;
}

.product-text {
  grid-column: 1 / -1;
  justify-self: center;
  text-align: center;
  color: white;
  letter-spacing: 0.4rem;
  margin: 50px 0;
}

.product-card {
  width: 100%;
  background-color: #BFC0C0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 100px;
}

.card-image {
  width: 100%;

}

.card-image img {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}


/* product name */
.product-card h4 {
  text-align: center;
  font-size: 1rem;
  color: #2D3142;
}

/* product gender */
.product-card h5 {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #2D3142;
}

/* product price */
.product-card p {
  font-size: 1.1rem;
  color: #4F5D75;
}

.add-to-bag {
  width: 50%;
  min-width: 50px;
  height: 10%;
  min-height: 3rem;
  margin: 7% 15%;
  background: #EF8354;
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: 550;
  cursor: pointer;
  transition-duration: 0.2s;
}

.add-to-bag:focus {
  outline: none;
}

.add-to-bag:hover {
  background-color: #c66840;
  transition-duration: 0.2s;
  color: white;
}

.add-to-bag:active {
  transform: translateY(1.5px);
}

.product-sort {
  /* as child of .product */
  grid-column: 1 / -1;
  align-self: center;

  display: flex;
  color: white;
  gap: 10px;
  cursor: pointer;
}

.product-sort p {
  font-size: 0.97rem;
  font-weight: 700;
}

.product-sort p:hover {
  color: #c66840;
}

.sort-by {
  grid-column: 1 / -1;
  /* margin-left: auto; */
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 5px;
  width: 150px;
  min-width: 20px;
}


/** Product Section Responsive Settings */

/* mobile screens */
@media(min-width: 20rem) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-sort {
    grid-column: 1;
  }

  .sort-by {
    grid-column: 2 / -1;
    justify-self: end;
  }

}

/* semi-narrow screens */
@media(min-width: 40rem) {
  .product {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 10px;
  }
}

/* tablet screen */
/* @media(min-width: 70rem) {
  .product {
    grid-template-columns: repeat(4, 1fr);
  }

  .product-sort {
    gap: 20px;
  }

  .product-sort p {
    font-size: 1.4rem;
    font-weight: 700;
  }
} */

/* desktop screen */
@media(min-width: 90rem) {
  .product {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 45px;
  }

  .product-sort {
    gap: 20px;
  }

  .product-sort p {
    font-size: 1.4rem;
    font-weight: 700;
  }
}

/* ... */


/* footer section */
footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #2D3142;
}

.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  background-color: #2D3142;
  color: white;
  width: 100vw;
  max-width: 2000px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.footer-container h4 {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.footer-container a {
  font-size: 0.8rem;
  font-weight: 300;
}

/*! Test styles */
.footer-newsletter {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.sign-up {
  width: fit-content;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;
}

.email {
  border: none;
  background-color: transparent;
  width: 100%;
  color: white;
  font-size: 0.8rem;
  outline: none;
}


.submit {
  margin-top: 4px;
  border: none;
  background-color: transparent;
  color: white;
}

@media(min-width: 20rem) {
  .footer-grid-container {
    grid-template-columns: repeat(2, auto);
  }

  .footer-newsletter {
    grid-row: 2;
    grid-column: 2 / -1;
    margin-bottom: auto;
  }
}

@media(min-width: 60rem) {
  .footer-grid-container {
    grid-template-columns: repeat(4, auto);
  }

  .footer-newsletter {
    grid-column: 4 / -1;
    grid-row: 1;
  }

  .sign-up {
    width: auto;
  }

  .footer-container h4 {
    font-size: 1.2rem;
  }

  .footer-container a {
    font-size: 1rem;
  }

  label {
    font-size: 1.2rem;
  }
}